@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-main-background w-full h-screen flex p-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidepanel_link {
  @apply cursor-pointer  font-bold flex items-center  mt-4 p-2.5 w-full gap-2;
}

.tab_buttons {
  display: flex;
}
.tab_buttons a {
  @apply px-4 py-2 font-bold;
}
.tab_buttons :first-child {
  @apply rounded-tl-lg;
}
.tab_buttons :last-child {
  @apply rounded-tr-lg;
}

.form_input {
  @apply border-add-minus border-2 p-1;
}
