@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.body_border {
  @apply border-b-2 border-t-0 border-l-0 border-r-0 border-accent-gray py-2
}
.admin_border {
  @apply border-t-4 border-l-0 border-r-0 border-b-0 border-primary-color
}

.out {
  @apply border-2 border-indigo-600
}
body {
  color: rgb(var(--foreground-rgb));
  overflow-y: auto;
  @apply bg-main-background w-full min-h-screen flex  p-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidepanel_link {
  @apply cursor-pointer  font-bold flex items-center w-full border-t-[3px] gap-2;
}

.set_icon {
  @apply h-[75px] w-[75px] flex items-center justify-center
}

.tab_buttons {
  display: flex;
}
.tab_buttons a {
  @apply px-4 py-2 font-bold;
}
.tab_buttons :first-child {
  @apply rounded-tl-lg;
}
.tab_buttons :last-child {
  @apply rounded-tr-lg;
}

.form_input {
  @apply border-add-minus border-2 p-1;
}

table,
td,
th {
  border: 1px solid;
  @apply border-accent-gray;
}
td,
th {
  padding: 5px 10px;
}
table {
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
}

.swal2-confim {
  @apply !bg-primary-color;
}
.swal-confirm-button {
  @apply !bg-primary-color;
}
.swal-close-button {
  @apply !bg-red-400;
}
.swal-pop {
  @apply !bg-main-background !border-2 !border-primary-color;
}

/* Loading Ring */
.lds-ring {
  display: inline-block;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  min-width: 35px;
  min-height: 35px;
  margin: 8px;

  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2f9e3b transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* END Loading Ring */

.generate-report-button {
  @apply font-bold text-[20px] text-letters-color text-center border-[1px] border-add-minus rounded-[10px] p-4 bg-accent-gray;
}